/* FONTS
Listas fuentes para uso
--- */
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/regular.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;700&display=swap');

/* @group SHARED STRUCTURES AND STYLES
------------------------------------ */
body { overflow-x: hidden; }
#wrapper { width: 100%; }
a, button { cursor: pointer;
    -webkit-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -webkit-transform 0.3s linear;
    -moz-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -moz-transform 0.3s linear;
    -ms-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    -o-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
}
.video-box,
.img-box { overflow: hidden; position: relative; }
.img-box > img { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
.img-box video { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
@supports(object-fit: cover) {
  .img-box > img { height: 100%!important; }
}

/* Colors */

$white: #FFFFFF;
$blue: #0064A8;
$blue-dark: #162E5A;
$light-blue: #10CCEC;
$yellow: #F8CE75;
$brown: #707070;

/* Fonts */



/* General Text
----------------------*/

:root {
  font-size: 16px;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5.313rem;
    color: $white;
  }
  
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: $blue-dark;
  }
  
  h3 {
  
  }
  
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $blue-dark;
  }
  
  h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: $light-blue;
  }
  
  h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.063rem;
    letter-spacing: 2.4px;
    color: $light-blue;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2.25rem;
    color: $blue;
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.063rem;
    letter-spacing: 2.4px;
    color: $light-blue;
    text-transform: uppercase;
    text-decoration: none;
  }
  button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 3.2px;
    color: $blue-dark;
    text-transform: uppercase;
  }
  button:hover {
    color:$blue
  }
}

header {
  height: 480px;
  /* video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
  } */
  .header-title {
    position: absolute;
    bottom: 0;
    width: 1300px;
    left: 50%;
    transform: translate(-50%, 0px);
    h1 {
      span {
        font-weight: 400;
      }
    }
  }
  #volume {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background:#ffffff8f;
    color: #000;
    border: 1.5px solid #ffffffb8;
    border-radius: 6px;
    &.muted::before {
      display: none;
      font: var(--fa-font-solid);
	    content: "\f6a9";
    }
    &.volumeOff::before {
      content: "\f028";
    }    
    svg {
      height: 23px;
    }    
  }
}

#slider-desktop, .slider-mobile {
  padding-top: 40px;
  padding-bottom: 80px;
  .container-cards {
    display: flex;
    justify-content: space-between;
  }
  .box-card {
    max-width: 30%;
    border: 1px solid $brown;
    &.box-card-mobile {
      max-width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      border: none;
    }
    .img-box {
      img {

      }
    }
    .text-box {
      padding: 24px 33px 26px 23px;
      .text-box-top {
        h5 {
          margin-bottom: 0.813rem;
        }
        h4 {

        }
      }
      .text-box-bottom {
        margin-top: 45px;
      }
    }
  }
}

#modal-section {
  padding: 0 0 80px;
  img {
    width: 100%;
  }
  p {
    max-width: 395px;
    margin: 23px 0;
  }
  .btn-modal {
    padding: 24px 34px;
    background: $yellow padding-box;
    font-weight: 700;
  }
  .btn-modal:hover {
    background: $brown;
    color: $white;
  }
  .modal {
    .modal-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .modal-content {
      border: none;
      .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
          margin: 20px auto 60px;
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: white!important;
  --bs-backdrop-opacity: 1!important;
}

@media only screen
and (min-width : 769px) {
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
}

/* @end */

/* @group RESET GENERAL DE TAMAÑO
------------------------------------ */
.no-mobile {
  
}

@media only screen
and (min-width : 769px) {
  .mobile { display: none!important; }
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
  :root {
    font-size: 16px;
  
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  header {
    .header-title {
      width: 100%;
      margin: 20px;
    }
    #volume {
      top: 20px;
    }
  }
  .no-mobile { display: none!important; }
  .slider-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
  #modal-section {
    h2 {
      margin-top: 40px;
    }
    p {
      max-width: 300px;
    }
  }
}
@media only screen
and (min-width : 0)
and (max-width : 600px) {
  /* html { font-size: 5px; } */
}
/* @end */

/* --- */
